<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
</head>
<body>

<h1> Panel administratora</h1>

Logged as  <td sec:authentication="name"/>

<p><a th:href="@{/logout}">Wyloguj</a></p>
<p><a th:href="@{/admin/add-tour}">Dodaj wycieczkę</a></p>
<p><a th:href="@{/tours}">Zarządzaj istniejącymi wycieczkami</a></p>
<p><a th:href="@{/admin/add-admin}">Dodaj nowe konto dla administratora</a></p>
<p><a th:href="@{/admin/users}">Lista zarejestrowanych użytkowników</a></p>

</body>
</html>