<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista zakupionych wycieczek</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Price</th>
        <th scope="col">Adult Amount</th>
        <th scope="col">Child Amount</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Surname</th>
        <th scope="col">Customer E-mail</th>

    </tr>
    </thead>
    <tbody>
<!--    <tr th:each="user:${users}">-->
<!--        <td th:text="${user.id}"/>-->
<!--        <td th:text="${user.username}"/>-->
<!--        <td th:text="${user.roles}"/>-->
<!--        -->

<!--    </tr>-->
    </tbody>
</table>
</body>
</html>