<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>

        <table style="width:50%" class="table">
            <tbody>
                    <tr>
                        <td style="text-align:left">Skąd - Kontynent:</td>
                        <td th:text="${tour.originCity.country.continents.name}"></td>
                        <td style="text-align:left">Dokąd - Kontynent:</td>
                        <td th:text="${tour.destinationCity.country.continents.name}"></td>
                    </tr>
            <tr>
                <td style="text-align:left">Skąd - państwo:</td>
                <td th:text="${tour.originCity.country.name}"></td>
                <td style="text-align:left">Dokąd - państwo:</td>
                <td th:text="${tour.destinationCity.country.name}"></td>
            </tr>

            <tr>
                <td style="text-align:left">Skąd - miasto:</td>
                <td th:text="${tour.originCity.name}"></td>
                <td style="text-align:left">Dokąd - miasto:</td>
                <td th:text="${tour.destinationCity.name}"></td>
            </tr>

            <tr>
                <td style="text-align:left">Skąd - lotnisko:</td>
                <td th:text="${tour.originAirport.name}"></td>
                <td style="text-align:left">Dokąd - lotnisko:</td>
                <td th:text="${tour.destinationAirport.name}"></td>
            </tr>

            <tr>
                <td style="text-align:left">Hotel:</td>
                <td th:text="${tour.destinationHotel.name}"></td>

            </tr>
            <tr>
                <td th:text="${tour.destinationHotel.description}"></td>
            </tr>
            <tr>
                <td style="text-align:left">Data - od:</td>
                <td th:text="${tour.endDate}"></td>
                <td style="text-align:left">Data - do:</td>
                <td th:text="${tour.endDate}"></td>
            </tr>
            <tr>
                <td style="text-align:left">Ilość dostępnych miejsc - dorośli:</td>
                <td th:text="${tour.adultSeats}"></td>
                <td style="text-align:left">Ilość dostępnych miejsc - dzieci:</td>
                <td th:text="${tour.minorSeats}"></td>
            </tr>
            <tr>
                <td style="text-align:left">Cena per miejsce - dorośli:</td>
                <td th:text="${tour.adultPrice}"></td>
                <td style="text-align:left">Cena per miejsce - dzieci:</td>
                <td th:text="${tour.minorPrice}"></td>
            </tr>
            </tbody>
        </table>


    <a th:href="@{/buy_tour/{id}(id=${tour.id})}">Kup teraz</a>
    <a th:href="@{/tours}">Strona główna</a>


</center>
</body>
</html>