<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowa wycieczka</title>
</head>
<body>
    <form method="post" th:action="@{/admin/save-tour}" th:object="${emptyTour}" >
        <label>
            Data rozpoczęcia:
            <input type="date" th:field="*{startDate}">
        </label>

        <label>
            Data zakończenia:
            <input type="date" th:field="*{endDate}">
        </label>

        <br>

        <label>
            Start podróży:
            <select name="originCityName" th:object="${originCityName}">
                    <option th:each="city : ${cities}"
                    th:text="${city.getName()}"
                    th:value="${city.getName()}"/>
                </select>
        </label>

        <label>
            Cel podróży:
            <select name="destinationCityName" th:object="${destinationCityName}">
                <option th:each="city : ${cities}"
                th:text="${city.getName()}"
                th:value="${city.getName()}"/>
            </select>
        </label>

        <br>

        <label>
            Lotnisko - start:
            <select name="originAirportName" th:object="${originAirportName}">
                <option th:each="airport : ${airports}"
                        th:text="${airport.getName()}"
                        th:value="${airport.getName()}"/>
            </select>
        </label>

        <label>
            Lotnisko - cel:
            <select name="destinationAirportName" th:object="${destinationAirportName}">
                <option th:each="airport : ${airports}"
                        th:text="${airport.getName()}"
                        th:value="${airport.getName()}"/>
            </select>
        </label>

        <br>

        <label>
            Hotel:
            <select name="hotelName" th:object="${hotelName}">
                <option th:each="hotel : ${hotels}"
                        th:text="${hotel.getName()}"
                        th:value="${hotel.getName()}"/>
            </select>
        </label>

        <br>

        <label>
            Cena za osobę dorosłą:
            <input type="number" th:field="*{adultPrice}">
        </label>

        <br>

        <label>
            Cena za osobę niepełnoletnią:
            <input type="number" th:field="*{minorPrice}">
        </label>

        <br>

        <label>
            Promocja
            <input type="checkbox" th:field="*{promotion}">
        </label>

        <br>

        <label>
            Liczba miejsc dla osób dorosłych:
            <input type="number" th:field="*{adultSeats}">
        </label>

        <br>

        <label>
            Liczba miejsc dla dzieci:
            <input type="number" th:field="*{minorSeats}">
        </label>

        <br>

        <button type="submit">Dodaj wycieczkę</button>
    </form>
</body>
</html>