<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tour Purchase</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

</head>
<body>

<form method="post" th:action="@{/tours/save}" th:object="${emptyBoughtTour}">

<h2>Zakup wycieczki</h2>
<table style="width:50%" class="table">
    <tbody>
    <tr>
        <th style="text-align:left">Skąd - miasto:</th>
        <td th:text="${tour.originCity.name}"/>
    </tr>
    <tr>
        <th style="text-align:left">Skąd - lotnisko:</th>
        <td th:text="${tour.originAirport.name}"/>
    </tr>
    <tr>
        <th style="text-align:left">Dokąd - miasto:</th>
        <td th:text="${tour.destinationCity.name}"/>
    </tr>
    <tr>
        <th style="text-align:left">Dokąd - lotnisko:</th>
        <td th:text="${tour.destinationAirport.name}"/>
    </tr>
    <tr>
        <th style="text-align:left">Dokąd - hotel:</th>
        <td th:text="${tour.destinationHotel.name}"/>
    </tr>
    <tr>
        <th style="text-align:left">Data - od:</th>
        <td th:text="${tour.startDate}"/>
    </tr>
    <tr>
        <th style="text-align:left">Data - do:</th>
        <td th:text="${tour.endDate}"/>
    </tr>
    <tr>
        <th style="text-align:left">Ilość dostępnych miejsc - dorośli:</th>
        <td th:text="${tour.adultSeats}"/>
    </tr>
    <tr>
        <th style="text-align:left">Ilość dostępnych miejsc - dzieci:</th>
        <td th:text="${tour.minorSeats}"/>
    </tr>
    <tr>
        <th style="text-align:left">Cena - dorosły:</th>
        <td id="adultPrice" th:text="${tour.adultPrice}"/>
    </tr>
    <tr>
        <th style="text-align:left">Cena - dziecko:</th>
        <td id="minorPrice" th:text="${tour.minorPrice}"/>
    </tr>
    </tbody>
</table>

    <table style="width:50%" class="table">
        <tbody>
        <tr>
            <td>
                <label>
                    Ilość dorosłych:
                </label>
            </td>
            <th><input id="adultamount" type="number" value="1" min="1" oninput="calculatePrice()"/></th>
            <td th:if="${#fields.hasErrors('adultAmount')}" th:errors="*{adultAmount}"></td>
        </tr>
        <td>
            <label>
                    Ilość dzieci:
            </label>
        </td>
        <th><input type="number" id='childamount' value="0" min="0" oninput="calculatePrice()"/></th>
        <td th:if="${#fields.hasErrors('childAmount')}" th:errors="*{childAmount}"></td>
        </tr>
        <tr>
            <td>
                <label>
                    Imię:
                </label>
            </td>
            <th><input type="text" name='name'/></th>
            <td th:if="${#fields.hasErrors('customer.name')}" th:errors="*{customer.name}"></td>
        </tr>
        <tr>
            <td>
                <label>
                    Nazwisko:
                </label>
            </td>
            <th><input type="text" name='surname'/></th>
            <td th:if="${#fields.hasErrors('customer.surname')}" th:errors="*{customer.surname}"></td>
        </tr>
        <tr>
            <td>
                <label>
                    E-mail:
                </label>
            </td>
            <th><input type="email" name='email'/></th>
            <td th:if="${#fields.hasErrors('customer.email')}" th:errors="*{customer.email}"></td>
        </tr>
        <tr>
            <td id="calculatePrice">
            </td>
        </tr>
        </tbody>
    </table>


<script type="text/javascript">
        function calculatePrice(){
        const adultPrice = Number.parseFloat(document.getElementById("adultPrice").textContent);
        const minorPrice = Number.parseFloat(document.getElementById("minorPrice").textContent);
        const adultamount = document.getElementById("adultamount").value;
        const childamount = document.getElementById("childamount").value;
        console.log(adultPrice, minorPrice, adultamount, childamount);

        const Price = adultPrice*adultamount+minorPrice*childamount;
        document.getElementById("calculatePrice").textContent = Price;
        }
        calculatePrice();
    </script>
    <td>
        <input type="submit" value="Kupuję"></input>
    </td>
    <td>
        <a th:href="@{/tours}">Cofnij</a>
    </td>

</form>
</body>
</html>