<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowa wycieczka</title>
</head>
<body>
<form method="post" th:action="@{/admin/save-tour}" th:object="${emptyTour}">

    <div class="data-fields">
        <label>
            Data startu:
            <input type="date" th:field="*{startDate}" onchange="checkDates()" name="startDate" id="startDate" required>
        </label>
        </br>
        <label>
            Data końca:
            <input type="date" th:field="*{endDate}" onchange="checkDates()" name="endDate" id="endDate" required>
        </label>
    </div>


    <label>
        Start podróży:
        <select name="originCityName" th:object="${originCityName}" required>
            <option th:each="city : ${cities}"
                    th:text="${city.getName()}"
                    th:value="${city.getName()}"/>
        </select>
    </label>

    <label>
        Cel podróży:
        <select name="destinationCityName" th:object="${destinationCityName}" required>
            <option th:each="city : ${cities}"
                    th:text="${city.getName()}"
                    th:value="${city.getName()}"/>
        </select>
    </label>

    <br>

    <label>
        Lotnisko - start:
        <select name="originAirportName" th:object="${originAirportName}" required>
            <option th:each="airport : ${airports}"
                    th:text="${airport.getName()}"
                    th:value="${airport.getName()}"/>
        </select>
    </label>

    <label>
        Lotnisko - cel:
        <select name="destinationAirportName" th:object="${destinationAirportName}" required>
            <option th:each="airport : ${airports}"
                    th:text="${airport.getName()}"
                    th:value="${airport.getName()}"/>
        </select>
    </label>

    <br>

    <label>
        Hotel:
        <select name="hotelName" th:object="${hotelName}" required>
            <option th:each="hotel : ${hotels}"
                    th:text="${hotel.getName()}"
                    th:value="${hotel.getName()}"/>
        </select>
    </label>

    <br>


    <div class="prices-fields">
        <label>
            Cena za dorosłego:
            <input type="number" min="0" th:field="*{adultPrice}" name="adultPrice" required>
        </label>
        </br>
        <label>
            Cena za dziecko:
            <input type="number" min="0" th:field="*{minorPrice}" name="minorPrice" required>
        </label>
    </div>


    <label>
        Promocja
        <input type="checkbox" th:field="*{promotion}">
    </label>

    <div class="seats-sliders">
        <label>
            Miejsca dorosłych:
            <input type="range" min="0" max="30" th:field="*{adultSeats}" name="adultSeats" id="adultsSlider" required>
            Liczba: <span id="adultSeats"></span>
        </label>
        </br>
        <label>
            Miejsca dziecięce:
            <input type="range" min="0" max="30" th:field="*{minorSeats}" name="minorSeats" id="minorSlider" required>
            Liczba: <span id="minorSeats"></span>
        </label>
    </div>
    <br>

    <button type="submit" id="submitButton">Dodaj wycieczkę</button>
    <a th:href="@{/admin/panel}">cofnij</a>
</form>
</body>
</html>

<script>
    const sliderAdults = document.getElementById("adultsSlider");
    const sliderMinors = document.getElementById("minorSlider");
    const outputAdults = document.getElementById("adultSeats");
    const outputMinors = document.getElementById("minorSeats");

    outputAdults.innerHTML = sliderAdults.value;
    outputMinors.innerHTML = sliderMinors.value;

    sliderAdults.oninput = function () {
        outputAdults.innerHTML = this.value;
    }
    sliderMinors.oninput = function () {
        outputMinors.innerHTML = this.value;
    }

    function checkDates() {
        const startDt = document.getElementById("startDate").value;
        const endDt = document.getElementById("endDate").value;
        const submitButton = document.getElementById("submitButton");
        submitButton.disabled = (new Date(startDt).getTime() > new Date(endDt).getTime());
    }
</script>