<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>



<center>
<h1>Biuro podróży</h1>
    <table class="table">
        <h3>2-Promowane wycieczki</h3>

        <thead>
        <tr>
            <th scope="col">Cel wycieczki:</th>
            <th scope="col">Cena za osobę dorosłą</th>
            <th scope="col">czas trwania</th>
            <th scope="col">miejsce wyjazdu</th>
            <th scope="col">promotion</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="tour : ${promotedTours}">

            <td th:text="${tour.destinationCity.name}"/>
            <td th:text="${tour.adultPrice}"/>
            <td th:text="${tour.durationTime}"/>
            <td th:text="${tour.originCity.name}"/>
            <td th:text="${tour.promotion}"/>

            <td>
                <a th:href="@{/tours/{id}/(id=${tour.id})}">Więcej...</a>
                <a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/tours/{id}/prom(id=${tour.id})}">Przestań promować</a>
            </td>

        </tr>
        </tbody>
    </table>

    <table class="table">
        <h3>Wszystkie wycieczki</h3>

        <thead>
        <tr>
            <th scope="col">Cel wycieczki:</th>
            <th scope="col">Cena za osobę dorosłą</th>
            <th scope="col">czas trwania</th>
            <th scope="col">miejsce wyjazdu</th>
            <th scope="col">promotion</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="tour : ${tours}">
            <td th:text="${tour.destinationCity.name}"/>
            <td th:text="${tour.adultPrice}"/>
            <td th:text="${tour.durationTime}"/>
            <td th:text="${tour.originCity.name}"/>
            <td th:text="${tour.promotion}"/>

            <td>
                <a th:href="@{/tours/{id}/(id=${tour.id})}">Więcej...</a>
            </td>
            <td>
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/tours/{id}/edit(id=${tour.id})}">Edytuj</a>
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/tours/{id}/prom(id=${tour.id})}">Promuj</a>
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/tours/{id}/delete(id=${tour.id})}">Usuń</a>
            </td>
        </tr>



        </tbody>
    </table>




    <form method="POST" th:action="@{/tours/filter}" style="border-style: double;">

        <h4>Wyszukiwarka wycieczek:</h4>
        <label>
            Wartość:
            <input type="text" id="searchField"  name="searchField" required/>
        </label>
        <label>
            Filtrowane pole:
            <select name="filter" id="filters"  class="filters">
                <option value="destinationCity">Docelowe miasto</option>
                <option value="originCity">Miasto wyjazdu</option>
                <option value="durationTime">Czas trwania</option>
            </select>
        </label>
        <br/>
        <button type="submit">Filtruj</button>

    </form>
    <table class="table">
        <h3>Wyniki wyszukiwania dla: </h3>
        <p th:text="${activeFilter}"></p>
        <thead>
        <tr>
            <th scope="col">Cel wycieczki:</th>
            <th scope="col">Cena za osobę dorosłą</th>
            <th scope="col">czas trwania</th>
            <th scope="col">miejsce wyjazdu</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="tour : ${filteredTours}">
            <td th:text="${tour.destinationCity.name}"/>
            <td th:text="${tour.adultPrice}"/>
            <td th:text="${tour.durationTime}"/>
            <td th:text="${tour.originCity.name}"/>


            <td>
                <a th:href="@{/tours/{id}/(id=${tour.id})}">Więcej...</a>
            </td>

        </tr>
        </tbody>
    </table>

    <a sec:authorize="!hasAnyRole('ROLE_ADMIN')" th:href="@{/login}">Zaloguj się jako administrator</a>
    <a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/panel}">Cofnij do panelu administratora</a>
    <footer>
    </footer>
</center>
</body>

</html>

<script>
    const selectElement = document.querySelector('.filters');

    selectElement.addEventListener('change', updateValue);

    function updateValue(e){
        let value =e.target.value;
        if (!value.localeCompare('durationTime')){
            changeIntoNumber();
        }else{
            changeIntoText();
        }
    }

    function changeIntoNumber(){
        document.getElementById('searchField').type= "number";
    }
    function changeIntoText(){
        document.getElementById('searchField').type= "text";
    }
    function changeIntoDate(){
        document.getElementById('searchField').type= "date";
    }

</script>