<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista zarejestrowanych użytkowników</title>
</head>
<body>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Rola</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.id}"/>
            <td th:text="${user.username}"/>
            <td th:text="${user.roles}"/>

            <td><a th:href="@{/admin/delete_user/{id}/(id=${user.id}) }">Usuń</a></td>
            <td><a th:href="@{/admin/panel}">Cofnij</a></td>

        </tr>
        </tbody>
    </table>
</body>
</html>